.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.projectImage {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: var(--background-light);
  cursor: pointer;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 30px;
    left: 50%;
    translate: -50% 20%;

    transition: 0.25s all;

    border-radius: 0.4rem;
  }

  @media (max-width: 768px) {
    img {
      width: 85%;
      height: 90%;
    }
  }
}

.projectCopy {
  margin: 1.6rem 0;
}

.projectTitle {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  h4 {
    font-weight: bold;
    font-size: var(--text-md);
    flex-shrink: 0;

    max-width: calc(100% - 150px);
  }

  a {
    opacity: 0.75;
    transition: 0.25s opacity;
  }

  a:hover {
    opacity: 1;
  }
}

.projectTitleLine {
  width: 100%;
  height: 1px;
  background: var(--text);
  opacity: 0.3;
}

.projectDescription {
  font-weight: 400;
  line-height: 1.7;
  color: var(--text-secondary);

  span {
    display: inline-block;
    position: relative;

    font-size: var(--text-xs);
    font-weight: 500;
    color: var(--brand);

    cursor: pointer;
    margin-top: 2.5rem;
    
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background: var(--brand);
      transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &:hover::after {
      width: 100%;
    }
  }
}

.projectTech {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;

  font-size: var(--text-xs);
  color: var(--brand);

  margin: 0.8rem 0;
}
